<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='trading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='wallets.css') }}">

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- For icon use -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>

        {% block page_title %}
        {% endblock page_title %}


    </title>
  </head>
  <body onload="update_values();">



    {% block trading %}
    {% endblock trading %}

    {% block wallets %}
    {% endblock wallets %}


  </body>

  <style>
  </style>
</html>


