<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='trading.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='wallets.css') }}">

    <!-- jquery -->
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->


    <!-- For icon use -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>

        {% block page_title %}
        {% endblock page_title %}

        

    </title>
  </head>
  <body>



    {% block trading %}
    {% endblock trading %}

    {% block wallets %}
    {% endblock wallets %}


  </body>

  <style>
  </style>
</html>


