{% extends 'layout.html' %}
{% block page_title%}
    My Wallets
{% endblock page_title%}


{% block live_data %}

        <script src="static/trade.js"></script>

{% endblock live_data %}



{% block wallets %}
<div class="wallet_panel">
    <div class="ws">
        <div class="w1">Wallet Name</div>
        <div class="w1">Wallet2</div>
        <div class="w1">Wallet3</div>
    </div>
    <div class="account">
         <div class="balance"> 
            <h2><u>Balance</u></h2>
            <div class="budget">
                <h2>200.000 TRY</h2>
            </div>
            <p style="color:silver">Active since: 12.08.2022</p>
        </div> 
    </div>
    <div class="transactions">
            <p style="font-size:2vw; color:red;"><u>Live Exchange Rates</u> </p>
            <div class="rates">
                    <div class="currency">TRY/USD</div>
                    <div class="currency">TRY/GBP</div>
                    <div class="currency">TRY/EUR</div>
            </div>
            <div class="rates">
                <div class="currency" id="usd">15.00</div>
                <div class="currency" id="gbp">15.00</div>
                <div class="currency" id="eur"></div>
            </div>
            <div class="buy">
                <div id="r_buysell">
                    <button id="bsbutton">BUY</button>
                    <select class="ch_select" id="currency">
                        <option value="usd">$ USD</option>
                        <option value="eur">€ EUR</option>
                        <option value="gbp">£ GBP</option>
                    </select>
                    <input id="bsamount" type="text">
                </div>      
            </div>
            <div class="sell">
                <div id="r_buysell">
                    <button id="bsbutton">BUY</button>
                    <select class="ch_select" id="currency">
                        <option value="usd">$ USD</option>
                        <option value="eur">€ EUR</option>
                        <option value="gbp">£ GBP</option>
                    </select>
                    <input id="bsamount" type="text">
                </div>      
            </div>

    </div>
</div>



{% endblock wallets %}